<div class="navigation-bar">

   <div class="nav-btns-left">
        <a href="/" class="home-link-btn">Home</a>
   </div> 

    <div class="nav-btns-right">

        <a class="navigation-button-text-only" href="/howstart">How to start?</a>

        <a class="navigation-button-text-only" href="/about">About us?</a>

        <a class="navigation-button-transparent" href="/sign-up">Sign up</a>

        <a class="navigation-button-full" href="/profile">Profile</a>

    </div>
</div>