<div class ="about-section-background">
<div class ="about-section-foreground">
    <div class="about-image">
        <img class="aboutimg" src="/img/quizz.jpg" alt="quizimage">
    </div>
       <div class="about-text"><h1>ABOUT US </h1>
    <p>We are students of International Media and Computing at HTW Berlin.
        This quizz game was created as a semester project for the course Agile Web Developement. To create the game we used following technologies: JS, Node.js, Express.js, EJS, MongoDB, and Vue.js
    </p>
</div> 
</div>
    
</div>
