<!DOCTYPE html>
<html>
    <head>
      <title>Quiz Time!</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/answerQuiz.css" type="text/css" />
    </head>
    <body>
      <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
      <div class="opacity-black-box"></div>
      <div class="quiz-container">
        <div id="quiz-header">
          <h1><%= quiz.title %></h1>
          <h3>Created by <%= creator.username %></h3>
        </div>
      
        <div class="quiz-body">
          TEST
        </div>



    </div>
    </body>
</html>