<!DOCTYPE html>
<head>
  <title>Get Started!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/getstarted.css" type="text/css" />
</head>
<body>
  <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
  <div class="opacity-black-box"></div>

  <div id="signup-box">
    <form method="POST" action="/register">
      <h1>Sign up</h1>
      <div class="signup-fields">
        <input type="text" id="username" name="username" placeholder="Username" required/>
        <input type="email" id="email" name="email_address" placeholder="E-mail" required/>
        <input type="password" id="password" name="user_password" placeholder="Password" required/>
        <input type="password" id="password2" name="password2" placeholder="Password again" required/>
        <input type="submit" id="signup_submit" name="signup_submit" value="Sign me up" />
      </div>
    </form>
  </div>
  
  <div class="OR">OR</div>

  <div id="login-box">
    <form method="POST" action="/login">
      <h1>Log in</h1>
      <div class="signup-fields">
        <input type="email" id="email" name="email_address" placeholder="E-mail" required/>
        <input type="password" id="password" name="user_password" placeholder="Password" required/>
        <input type="submit" id="login_submit" name="login_submit" value="Enter" />
      </div>
    </form>
  </div>
</body>
