<!DOCTYPE html>
<html>
    <head>
      <title>Enter Code</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/code.css" type="text/css" />
    </head>
    <body>
      <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
      <div class="opacity-black-box"></div>
      <div class="input-container">
        <div id="input-header">
          Enter the code below
        </div>
        <form action="/quiz/code" method="POST" required>
          <div id="input-field">
            <input id="code-input" name="code" type="text" placeholder="Code.." required>
          </div>
          <div class="submit-container">
            <button type="submit">Submit</button>
          </div>
      </form>
      </div>
    </body>
</html>