<!DOCTYPE html>
<html>
    <head>
      <title>Enter Code</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/code.css" type="text/css" />
    </head>
    <body>
      <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
      <div class="opacity-black-box"></div>
      <div class="input-container">
        <div id="input-header">
          Enter the code below
        </div>
        <div id="input-field">
          <form action="/quiz/code" method="POST">
          <input id="code-input" type="text" placeholder="Code.." required>
          <button id="submit-code" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </body>
</html>