
<!DOCTYPE html>
<html>
    <head>
      <title>Ups..</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/error.css" type="text/css" />
    </head>
    <body>
      <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
      <div class="opacity-black-box"></div>
      <div class="errortext-container">
        <h1 class="error-message"><%= err %></h1>
      </div>
    </body>
</html>