<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <div class="errortext-container">
      <h1><%= err %></h1>
    </div>
  </body>
  <style>
 
body {
    background: #2b4f60;
}
h1 {
      font-size: 8rem;
      color: #ead3cb;
    } 

.errortext-container {
      text-align: center;
      align-items: center;
      margin: 0 auto;

    }
    
  </style>
</html>