    <div class ="howto-section">
        <div class="howtoplay-header">
            <h1>HOW TO PLAY </h1>
        </div>
           <div class="howto-text">
        <p>
1. Enter your name <br><br>
2. Create and answer 10 questions about yourself<br><br>
3. Copy quiz-link and send it to your friends<br><br>
4. Your friends will try to answer the questions<br><br>
5. Check the score of your friends at your quiz-link
        </p>
    </div> 
    <div class="howto-image">
        <img class="howimg" src="/img/howtoplay.jpg" alt="quizimage">
    </div>
        
    </div>
        

    