<!DOCTYPE html>
<head>
  <title>Friends Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/index.css" type="text/css" />
</head>
<body>
  <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
  <div class="opacity-black-box"></div>
  <div id="game-name">Friends Quiz</div>
  <form method="get" action="/hub">
    <div class="button-container">
      <button class="big-button">GET STARTED</button>
    </div>
  </form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/circletype.min.js"></script>
<script>
  new CircleType(document.getElementById("game-name")).radius(1600);
</script>

