<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CircleType</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
  </head>
  <body>
    <div id="game-name">
      <p>Game Name</p>
    </div>
    <div class="container">
      <a href="#section2" class="animated-word">GET STARTED</a>
    </div>
    <div class="login-signup-stuff" id="section2">
      <p id="temp">(Login or Signup if no Account)</p>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/circletype.min.js"></script>
  <script>
    new CircleType(document.getElementById("game-name")).radius(1000);
    $(document).ready(function () {
      // Add smooth scrolling to all links
      $("a").on("click", function (event) {
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();
          // Store hash
          var hash = this.hash;
          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $("html, body").animate(
            {
              scrollTop: $(hash).offset().top,
            },
            800,
            function () {
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            }
          );
        } // End if
      });
    });
  </script>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
    <title>O-Quizzy Home</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
</head>
<body>
<div class="content">
    <div class="introduction">
        <H1 class="introduction-header">Let's play Quiz</H1>
        <p class="introduction-paragraph">The online Quiz! </p>
        <p class="introduction-paragraph"> Play now the popular quiz game for free!</p>
    </div>
    <div class="login">
        <form action="" class="login-form">
            <H3 class="login-title">Log in</H3>
            <input type="text" placeholder="E-mail" class="input-field">
            <input type="text" placeholder="Password" class="input-field">
            <div class="deco-divider">

                <p>
                    or</p>

            </div>
            <button class="sign-in-button">Sign up with E-mail</button>
        </form>
    </div>
</div>
 
</body>
</html> -->