<!DOCTYPE html>
<html>
<head>
    <title>O-Quizzy Home</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
</head>
<body>

<!-- 
<div id="body-container">
    <div class="pulsing-text-container">
        <div class="text animated pulse">Quiz Name</div>
    </div>
    <div id="login-container">
        <div id="login-title">
            <p id="login">Log in</p>
        </div>
        <div id="login-input-container">
            <div id="email-input-container">
                <input size="25" id="email" placeholder="E-mail" required/>
            </div>
            <div id="pass-input-container">
                <input
                        type="password"
                        id="passwd"
                        size="25"
                        maxlength="20"
                        placeholder="Passwort"
                        required
                />
            </div>
        </div>
        <div id="or-sign-up-with-email-button-container">
            <a href="" class="button" id="sign-up-button">Sign Up With Email</a>
        </div>
    </div>
    <div id="index-intro-text-container">
        <div id="intro-text-header">Let's have fun!</div>
        <div id="intro-text-body">
            Easy to start, fun to play.<br/>Join now to get to know your
            colleges!<br/>Make new friends and explore many untold stories...
        </div>
    </div>
</div> -->
<!-- ------------------------------------- -->
<div class="content">
    <div class="introduction">
        <H1 class="introduction-header">Let's play Quiz</H1>
        <p class="introduction-paragraph">The online Quiz! </p>
        <p class="introduction-paragraph"> Play now the popular quiz game for free!</p>
    </div>
    <div class="login">
        <form action="" class="login-form">
            <H3 class="login-title">Log in</H3>
            <input type="text" placeholder="E-mail" class="input-field">
            <input type="text" placeholder="Password" class="input-field">
            <div class="deco-divider">

                <p>
                    or</p>

            </div>
            <button class="sign-in-button">Sign up with E-mail</button>
        </form>
    </div>
</div>
 
</body>
</html>
