<!DOCTYPE html>
<html>
<head>
    <title>O-Quizzy Home</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
</head>
<body>
    
<div class="content">
    <div class="introduction">
        <H1 class="introduction-header">Let's play Quiz</H1>
        <p class="introduction-paragraph">The online Quiz! </p>
        <p class="introduction-paragraph"> Play now the popular quiz game for free!</p>
    </div>
    <div class="login">
        <form action="" class="login-form">
            <H3 class="login-title">Log in</H3>
            <input type="text" placeholder="E-mail" class="input-field">
            <input type="text" placeholder="Password" class="input-field">
            <div class="deco-divider">

                <p>
                    or</p>

            </div>
            <button class="sign-in-button">Sign up with E-mail</button>
        </form>
    </div>
</div>
 
</body>
</html>
