<!DOCTYPE html>
<head>
  <title>Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/newquiz.css" type="text/css" />
</head>
<body>
  <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
  <div class="opacity-black-box"></div>
  
  <div class="main-wrapper">
    <form method="POST" action="/<%= currentUser._id %>/create-quiz">
    
    <input id="title" type="text" name="title" placeholder="Quiz Title..">
    
    <div class="qaWrapper">
      <div class="container1">
        <button class="add_form_field">Add New Field &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>

          <div class="qaBundle">
            <label id="question-label" for="question">Question:</label>
              <input type="text" name="questions[0]" id="question" placeholder="What is my favourite food Pizza?"><br>
            <label id="answers-label" for="answers">Answers:</label>
              <input class="answer" name="answers[0]" placeholder="Answer 1">
              <input type="radio" name="[correct][0]" value="0">
              <input class="answer" name="answers[0]" placeholder="Answer 2">
              <input type="radio" name="[correct][0]" value="1">
          </div>

        </div>
      </div>

    <button type="submit">Create</button>
    </form>
  </div>

    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var max_fields      = 10;
    var wrapper         = $(".container1");
    var add_button      = $(".add_form_field");
    var index = 0;
    var x = 1;
    $(add_button).click(function(e){
        e.preventDefault();
        if(x < max_fields){
            x++;
            index++;

            $(wrapper).append(`
            <div class="qaBundle">
            <label id="question-label" for="question">Question:</label>
              <input type="text" name="questions[${index}]" id="question" placeholder="New Awsome Question.."><br>
            <label id="answers-label" for="answers">Answers:</label>
              <input class="answer" name="answers[${index}]" placeholder="Answer 1">
              <input type="radio" name="[correct][${index}]" value="0">
              <input class="answer" name="answers[${index}]" placeholder="Answer 2">
              <input type="radio" name="[correct][${index}]" value="1">
          </div>
            `); //add input box
        }
  else
  {
  alert('You Reached the limits')
  }
    });
 
    $(wrapper).on("click",".delete", function(e){
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>

