<!DOCTYPE html>
<head>
  <title>New Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/newquiz.css" type="text/css" />

  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <script>
    const userId = '<%- currentUser._id %>';
  </script>
  <div id="app"> 
    <div class="title-wrapper centered">
      <h1> 
        <input id="title" type="text" placeholder="Quiz Title.." v-model="quiz.title" required/> 
      </h1>
    </div>
    <div class="qa-wrapper">
      <table class="qa-table-header">
        <thead>
          <th>Question(s)</th>
          <th>Answers</th>
          </th>
        </thead>
      </table>
      <div class="row" v-for="(block, index) in quiz.data" :key="block._id">
       <div class="question-section section">
         <div class="remove-qblock" @click="removeBlock(index)">
           <img src="/img/trash.png" alt="">
          </div>
         <h1 class="q-index"> {{index+1}}. </h1>
         <input type="text" id="question" placeholder="Question.." v-model="block.question">
       </div>
       <div class="answer-section section">
          <answer-component :index="index" v-on:update="updateAnswers($event, index)"/>
       </div>
      </div>
      <div class="add-qblock centered">
        <button @click="addBlock" class="centered">Add</button>
      </div>
    </div>
    <div class="checkout-container centered">
      <button @click="createQuiz" class="centered">Create</button>
    </div>
  </div>
  <script src="/vue/createQuiz.js">
  </script>
</body>