<!DOCTYPE html>
<head>
  <title>New Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/newquiz.css" type="text/css" />
</head>
<body>
  <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
  <div class="opacity-black-box"></div>

  <div class="main-wrapper">
    <form method="POST" action="/quiz/<%= currentUser._id %>/create">
      <input
        id="title"
        type="text"
        name="title"
        placeholder="Quiz Title.."
        required
      />

      <div class="qaWrapper">
        <div>
          <button class="add_form_field">
            Add New Field &nbsp;
            <span style="font-size: 16px; font-weight: bold">+ </span>
          </button>
          <table class="qaTable">
            <thead>
              <th>Questions</th>
              <th>Answers</th>
            </thead>
          </table>

          <div class="block container1">
            <div id="question-section">
              <input
                type="text"
                name="questions[0]"
                id="question"
                placeholder="What is my favourite food?"
              />
            </div>
            <div id="answer-section">
              <button id="add-answer-btn">+</button>
              <div class="answer-block">
                <input
                class="answer"
                name="answers[0]"
                placeholder="Answer 1"
                required
                />
                <input type="radio" name="correct[0]" value='0' required /><br />
              </div>

              
            </div>
          </div>
        </div>
      </div>


      <button type="submit">Create</button>
    </form>
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    var max_fields = 10;
    var wrapper = $(".container1");
    var add_button = $(".add_form_field");
    var blockIndex = 0;
    var answerIndex = 0;
    var x = 1;
    $(add_button).click(function (e) {
      e.preventDefault();
      if (x < max_fields) {
        x++;
        blockIndex++;
        answerIndex = 0;
        
        $(wrapper).append(`
            <div class="block">
            <div id="question-section">
              <input type="text" name="questions[${blockIndex}]" id="question" placeholder="What is my favourite food?">
            </div>
            <div id="answer-section">
              <div class="answer-block">
                <input class="answer" name="answers[${blockIndex}]" placeholder="Answer ${answerIndex+1}" required />
                <input type="radio" name="correct[0]" value='${answerIndex}' required /><br />
              </div>

          </div>
            `); //add input box
            
      } else {
        alert("You Reached the limits");
      }
    });

      var answerWrapper = $('#answer-section');
      var addAnswerBtn = $('#add-answer-btn');
      var answerMax = 6;
      var a = 0;

      $(addAnswerBtn).click(function (e) {
      e.preventDefault();
      if (x < answerMax) {
        a++;
        answerIndex++;

        $(answerWrapper).append(`
          <div class="answer-block">
                <input class="answer" name="answers[${blockIndex}]" placeholder="Answer ${answerIndex+1}" required />
                <input type="radio" name="correct[${blockIndex}]" value='${answerIndex}' required /><br />
              </div>
          </div>
            `); //add input box
      } else {
        alert("You Reached the limits");
      }
    

    });

  });
</script>
