<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/qr.css" type="text/css" />
    <title>QR Code</title>
</head>
<body>
    <img id="bg" src="/img/index-bg.jpg" alt="minimalistic shapes" />
    <div class="qr-container">
        <div class="qr-text">
            Use context menu to save & share!
        </div>
        <div class="qr-code-container">
            <img class="qr" src="<%- qrUrl %>"/>
        </div>
    </div>
</body>
</html>