<div class="question-card">
  <form class="centered-form" action="/questions" method="post">
    <p class="par">Your Question</p>
    <label for="Question"></label>
    <div>
      <input
        class="input-group"
        type="text"
        name="question"
        placeholder="Write your question here"
      />

      <p class="par">Answer Options</p>

      <input
        class="input-group"
        type="text"
        name="option_1"
        placeholder="Truth"
      />

      <input
        class="input-group"
        type="text"
        name="option_2"
        placeholder="Lie 1"
      />

      <input
        class="input-group"
        type="text"
        name="option_3"
        placeholder="Lie 2"
      />
    </div>
    <button type="submit" class="question_submit">Submit your question</button>
  </form>
</div>
