<div id="question-card">
  <form action="/questions" method="post">
    <p id="par">Your Question</p>
    <label for="Question"></label>
    <input
      id="input-group"
      type="text"
      name="question"
      placeholder="Write your question here"
    />

    <p id="par">Answer Options</p>

    <input id="input-group" type="text" name="option_1" placeholder="Truth" />

    <input id="input-group" type="text" name="option_2" placeholder="Lie 1" />

    <input id="input-group" type="text" name="option_3" placeholder="Lie 2" />

    <button type="submit" id="question_submit">Submit your question</button>
  </form>
</div>
