<!DOCTYPE html>
<head>
  <title>Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/welcome.css" type="text/css" />
</head>
<body>
  <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
  <div class="opacity-black-box"></div>
  <div id="welcome-msg">Welcome, <%= name %>!</div>
  <a class="link-to-hub" href="/hub">Go to the hub</a>
</body>
