body {
    display: block;
    text-align: left;
  }
  
  .navigation-bar {
    display: inline;
  }
  
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
  }
  
  .opacity-black-box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.281);
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 2;
  }

  .allquiz-container {
    position: absolute;
    background-color: #ffffff;
    width: 160vh;
    top: 10vh;
    height: 70vh;
    left: 17.5vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgb(255, 255, 255, 0.4);
    z-index: 2;
  }
  
  .table-container {
    position: absolute;
    overflow: auto;
    width: 96%;
    height: 92%;
    left: 2%;
    top: 4%;
  }
  
  #quiz-table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
  }
  th {
    padding: 1rem 2rem;
    letter-spacing: 0.1rem;
    font-size: 3vh;
    border-bottom: 2px solid rgb(104, 104, 104);
    text-align: center;
  }
  td {
    padding: 1rem 2rem;
    font-size: 3vh;
    text-align: center;
  }
  
  .space {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  .quizId {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .quizTitle {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
  .qAmount {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    color:rgb(80, 80, 80)
  }
  .controles{
    display: block;
  }
  .remove-btn{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    visibility:hidden;
    cursor: pointer;
    float: left;
  }

  .qr-btn{
    margin-top: 0.1rem;
    margin-left: .3rem;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    visibility:hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
  }

  .controles{
    visibility: hidden;
  }

  .row:hover .remove-btn{
    visibility: visible;
  }

  .row:hover .qr-btn{
    visibility: visible;
  }